.page-body-content {
    background: url('/assets/stars-01.png');
    background-repeat: no-repeat;
    background-size: 100%;
}


/**
 * Site header
 */
.site-header {
    padding-top: 20px;
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: #fff;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #009F57;
        // text-shadow: 1px 1px 5px #fff;
        font-size: 30px;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    padding: 140px;
    width: 100%;
    height: 400%;
    // background-image: url('/assets/homes_bototm-01.png');
    // background-repeat: no-repeat;
    // background-size: 100%;

}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-link-header {
    margin-bottom: 0px;
}

.post-list {
    margin-left: 40px;
    margin-right: 40px;
    list-style: none;

    > li {
        margin-top: 20px;
        // margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.post-link {
    display: block;
    font-size: 30px;
}

.post-excerpt {
    font-size: 18px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    color: #009F57;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.page-description {
    font-size: 20px;
}

.product-hero {
    padding-top: 10px;
    // background-color: #ebebeb;
    font-family: "HelveticaNeue-Light";
}
.product-hero h1 {
    font-size: 60px;
    text-align: center;
}
.product-hero .description {
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
}
.product-hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product-feature {
    padding-top: 10px;
    // background-color: #ebebeb;
    font-family: "HelveticaNeue-Light";
}
.feature-image {
    margin-left: 20px;
    margin-right: 20px;
}
.feature-title {
    color: #009F57;
    text-align: center;
    font-size: 48px;
    font-weight: 200;
}
.feature-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
}
.feature-desc {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.appstore-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.main-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Grid layout */

/*  SECTIONS  ============================================================================= */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    padding-bottom: 10px;
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { 
        margin: 1% 0 1% 0%;
    }
}
/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
    width: 100%;
}

.span_11_of_12 {
    width: 91.53%;
}

.span_10_of_12 {
    width: 83.06%;
}

.span_9_of_12 {
    width: 74.6%;
}

.span_8_of_12 {
    width: 66.13%;
}

.span_7_of_12 {
    width: 57.66%; 
}

.span_6_of_12 {
    width: 49.2%; 
}

.span_5_of_12 {
    width: 40.73%; 
}

.span_4_of_12 {
    width: 32.26%; 
}

.span_3_of_12 {
    width: 23.8%;
}

.span_2_of_12 {
    width: 15.33%; 
}

.span_1_of_12 {
    width: 6.86%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .span_12_of_12 {
        width: 100%; 
    }
    .span_11_of_12 {
        width: 100%; 
    }
    .span_10_of_12 {
        width: 100%; 
    }
    .span_9_of_12 {
        width: 100%; 
    }
    .span_8_of_12 {
        width: 100%; 
    }
    .span_7_of_12 {
        width: 100%; 
    }
    .span_6_of_12 {
        width: 100%; 
    }
    .span_5_of_12 {
        width: 100%; 
    }
    .span_4_of_12 {
        width: 100%; 
    }
    .span_3_of_12 {
        width: 100%; 
    }
    .span_2_of_12 {
        width: 100%; 
    }
    .span_1_of_12 {
        width: 100%; 
    }
}
